<launch>
	<node name="face_finder" pkg="face_finder" type="face_finder">
		<param name="face_cascade" value="$(find face_finder)/lbpcascade_frontalface.xml" />
	</node>
	<arg name="face_database" unless="$(arg face_database)" value="~/faces.dat" />
	<node name="face_recognizer" pkg="face_recognition" type="face_recognition">
		<param name="training_file" value="$(arg face_database)" />
	</node>
</launch>
