 <launch>
        <!-- <node name="tf_broadcaster" pkg="robot_setup_tf" type="tf_broadcaster" /> -->

	<!--<node pkg="depthimage_to_laserscan" type="depthimage_to_laserscan" name="depthimage_to_laserscan" launch-prefix="/home/yochan/.ros/tmuxrun">-->
	<node pkg="depthimage_to_laserscan" type="depthimage_to_laserscan" name="depthimage_to_laserscan">
                <remap to="camera/depth/image_raw" from="image" />
                <remap to="camera/depth/camera_info" from="camera_info" /> 
		<param name="output_frame_id" value="base_link" />
		<param name="scan_height" value="20" />
	</node>	

	<!-- Run the map server -->
	<!-- add my_map_package and resolution -->
	<node name="map_server" pkg="map_server" type="map_server" args="$(find peoplebot_2dnav)/maps/fifth_floor.yaml" />

	<!-- Run AMCL -->
	<include file="$(find peoplebot_2dnav)/launch/amcl_diff.launch" />

	<node pkg="move_base" respawn="false" name="move_base" output="screen" type="move_base">
		<remap from="cmd_vel" to="RosAria/cmd_vel" /> 
		<param name="controller_frequency" value="20.0" />
		<param name="planner_frequency" value="0.0" />
		<param name="planner_patience" value="7.0" /> <!-- default 5.0 -->
		<param name="controller_patience" value="10.0" />
		<param name="base_global_planner" value="global_planner/GlobalPlanner" />

		<param name="recovery_behavior_enabled" value="true" />		
		<!-- <param name="recovery_behaviors" 
			value="[{name: rotate_recovery, type: rotate_recovery/RotateRecovery},
			{name: aggressive_reset, type: clear_costmap_recovery/ClearCostmapRecovery}]" /> -->

		<!-- change the following only if default recovery is used -->
		<param name="conservative_reset_dist" value="3.0" />
		<param name="clearing_rotation_allowed" value="true" /> <!-- default true -->

		<rosparam file="$(find peoplebot_2dnav)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
		<rosparam file="$(find peoplebot_2dnav)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
		<rosparam file="$(find peoplebot_2dnav)/config/local_costmap_params.yaml" command="load" />
		<rosparam file="$(find peoplebot_2dnav)/config/global_costmap_params.yaml" command="load" />
		<rosparam file="$(find peoplebot_2dnav)/config/base_local_planner_params.yaml" command="load" />
	</node>
</launch>
