<launch>
	<node machine="PeopleBot" name="RosAria" pkg="rosaria" type="RosAria">
		<param name="port" value="/dev/ttyS0" />
	</node>
	
	<node machine="PeopleBot" name="tf_broadcaster" pkg="robot_setup_tf" type="tf_broadcaster" />
	
	<arg name="cam_name" value="canon_camera" />
	<env name="GSCAM_CONFIG" value="v4l2src ! video/x-raw-yuv, width=320, height=240 ! deinterlace ! ffmpegcolorspace" />
	<node machine="PeopleBot" pkg="gscam" type="gscam" name="$(arg cam_name)">
		<param name="camera_name" value="(arg cam_name)" />
		<remap from="camera/image_raw" to="$(arg cam_name)" />
	</node>
</launch>
