<launch>
	<node name="RosAria" pkg="rosaria" type="RosAria">
		<param name="port" value="/dev/ttyS0" />
	</node>
	<node name="sicklms" pkg="sicktoolbox_wrapper" type="sicklms">
		<param name="port" value="/dev/ttyS2" />
		<param name="baud" value="38400" />
		<param name="connect_delay" value="40" />
	</node>
	
	<node name="tf_broadcaster" pkg="robot_setup_tf" type="tf_broadcaster" />
	
	<arg name="cam_name" value="cannon_camera" />
	<env name="GSCAM_CONFIG" value="v4l2src ! video/x-raw-yuv, width=320, height=240 ! ffmpegcolorspace" />
	<node pkg="gscam" type="gscam" name="$(arg cam_name)">
		<param name="camera_name" value="(arg cam_name)" />
		<remap from="camera/image_raw" to="$(arg cam_name)" />
	</node>
</launch>
